data3_SNRinfinity
*.zip
*.sif
*.pickle
deprecated/
data/
Moco.py
Moco_Test.py
inf_10.tar
inf_10/
temps_10/
SSL_MacroMolecule_Real/main_moco_checkpoint/
SSL_MacroMolecule_Real/main_moco_checkpoint_v2/
.*
.*/
features/
miniconda3/
__pycache__
!/.gitignore
